<h1>Home#index</h1>
Hola <%= current_user.email %>
<%- if current_user.image.present? %>
<%= image_tag(current_user.image, size:"40") %>
<%- end%>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to "Salir", destroy_user_session_path, method: :delete%>